chroma-styles/*.css linguist-vendored
test/commonmark-spec.html linguist-vendored
test/commonmark-spec.json linguist-vendored
test/commonmark-spec.md linguist-vendored
wasm/wasm_exec.js linguist-vendored
