/* Background */ .highlight-bg { color: #e2e4e5; background-color: #282a36 }
/* PreWrapper */ .highlight-chroma { color: #e2e4e5; background-color: #282a36; }
/* Error */ .highlight-chroma .highlight-err { color: #ff5c57 }
/* LineTableTD */ .highlight-chroma .highlight-lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .highlight-chroma .highlight-lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .highlight-chroma .highlight-hl { background-color: #3d3f4a }
/* LineNumbersTable */ .highlight-chroma .highlight-lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .highlight-chroma .highlight-ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .highlight-chroma .highlight-line { display: flex; }
/* Keyword */ .highlight-chroma .highlight-k { color: #ff6ac1 }
/* KeywordConstant */ .highlight-chroma .highlight-kc { color: #ff6ac1 }
/* KeywordDeclaration */ .highlight-chroma .highlight-kd { color: #ff5c57 }
/* KeywordNamespace */ .highlight-chroma .highlight-kn { color: #ff6ac1 }
/* KeywordPseudo */ .highlight-chroma .highlight-kp { color: #ff6ac1 }
/* KeywordReserved */ .highlight-chroma .highlight-kr { color: #ff6ac1 }
/* KeywordType */ .highlight-chroma .highlight-kt { color: #9aedfe }
/* NameAttribute */ .highlight-chroma .highlight-na { color: #57c7ff }
/* NameBuiltin */ .highlight-chroma .highlight-nb { color: #ff5c57 }
/* NameClass */ .highlight-chroma .highlight-nc { color: #f3f99d }
/* NameConstant */ .highlight-chroma .highlight-no { color: #ff9f43 }
/* NameDecorator */ .highlight-chroma .highlight-nd { color: #ff9f43 }
/* NameFunction */ .highlight-chroma .highlight-nf { color: #57c7ff }
/* NameLabel */ .highlight-chroma .highlight-nl { color: #ff5c57 }
/* NameTag */ .highlight-chroma .highlight-nt { color: #ff6ac1 }
/* NameVariable */ .highlight-chroma .highlight-nv { color: #ff5c57 }
/* NameVariableClass */ .highlight-chroma .highlight-vc { color: #ff5c57 }
/* NameVariableGlobal */ .highlight-chroma .highlight-vg { color: #ff5c57 }
/* NameVariableInstance */ .highlight-chroma .highlight-vi { color: #ff5c57 }
/* LiteralString */ .highlight-chroma .highlight-s { color: #5af78e }
/* LiteralStringAffix */ .highlight-chroma .highlight-sa { color: #5af78e }
/* LiteralStringBacktick */ .highlight-chroma .highlight-sb { color: #5af78e }
/* LiteralStringChar */ .highlight-chroma .highlight-sc { color: #5af78e }
/* LiteralStringDelimiter */ .highlight-chroma .highlight-dl { color: #5af78e }
/* LiteralStringDoc */ .highlight-chroma .highlight-sd { color: #5af78e }
/* LiteralStringDouble */ .highlight-chroma .highlight-s2 { color: #5af78e }
/* LiteralStringEscape */ .highlight-chroma .highlight-se { color: #5af78e }
/* LiteralStringHeredoc */ .highlight-chroma .highlight-sh { color: #5af78e }
/* LiteralStringInterpol */ .highlight-chroma .highlight-si { color: #5af78e }
/* LiteralStringOther */ .highlight-chroma .highlight-sx { color: #5af78e }
/* LiteralStringRegex */ .highlight-chroma .highlight-sr { color: #5af78e }
/* LiteralStringSingle */ .highlight-chroma .highlight-s1 { color: #5af78e }
/* LiteralStringSymbol */ .highlight-chroma .highlight-ss { color: #5af78e }
/* LiteralNumber */ .highlight-chroma .highlight-m { color: #ff9f43 }
/* LiteralNumberBin */ .highlight-chroma .highlight-mb { color: #ff9f43 }
/* LiteralNumberFloat */ .highlight-chroma .highlight-mf { color: #ff9f43 }
/* LiteralNumberHex */ .highlight-chroma .highlight-mh { color: #ff9f43 }
/* LiteralNumberInteger */ .highlight-chroma .highlight-mi { color: #ff9f43 }
/* LiteralNumberIntegerLong */ .highlight-chroma .highlight-il { color: #ff9f43 }
/* LiteralNumberOct */ .highlight-chroma .highlight-mo { color: #ff9f43 }
/* Operator */ .highlight-chroma .highlight-o { color: #ff6ac1 }
/* OperatorWord */ .highlight-chroma .highlight-ow { color: #ff6ac1 }
/* Comment */ .highlight-chroma .highlight-c { color: #78787e }
/* CommentHashbang */ .highlight-chroma .highlight-ch { color: #78787e }
/* CommentMultiline */ .highlight-chroma .highlight-cm { color: #78787e }
/* CommentSingle */ .highlight-chroma .highlight-c1 { color: #78787e }
/* CommentSpecial */ .highlight-chroma .highlight-cs { color: #78787e }
/* CommentPreproc */ .highlight-chroma .highlight-cp { color: #78787e }
/* CommentPreprocFile */ .highlight-chroma .highlight-cpf { color: #78787e }
/* GenericDeleted */ .highlight-chroma .highlight-gd { color: #ff5c57 }
/* GenericEmph */ .highlight-chroma .highlight-ge { text-decoration: underline }
/* GenericError */ .highlight-chroma .highlight-gr { color: #ff5c57 }
/* GenericHeading */ .highlight-chroma .highlight-gh { font-weight: bold }
/* GenericInserted */ .highlight-chroma .highlight-gi { font-weight: bold }
/* GenericOutput */ .highlight-chroma .highlight-go { color: #43454f }
/* GenericStrong */ .highlight-chroma .highlight-gs { font-style: italic }
/* GenericSubheading */ .highlight-chroma .highlight-gu { font-weight: bold }
/* GenericUnderline */ .highlight-chroma .highlight-gl { text-decoration: underline }
